<%-if RedmineMorePreviews::Converter.responsible( entry.name, :pathonly => true )&.id == :cliff %>
  
  <% html_id = SecureRandom.uuid.to_s
    js = "$('##{html_id}-show, ##{html_id}-hide').toggle(); $('##{html_id}').fadeToggle(150);"
    toggler = ''.html_safe
    toggler << link_to_function("...", js, :id => "#{html_id}-show", :class => 'collapsible collapsed')
    toggler << link_to_function(" x", js, :id => "#{html_id}-hide", :class => 'collapsible', :style => 'display:none;')
  %>
  
  <%- repository.more_asset( path, rev, :assets => ["headers.html", "fields.html", "attachments.html"] ) do |html, asset, email_headers, email_fields, email_attachments| %>
  
    <% if email_headers %>
      <div class="box"><%= RedmineMorePreviews::Lib::RmpText.to_utf8(email_headers).html_safe %></div>
    <%- end %>
    
    <% if email_fields %>
      <%= toggler.html_safe %>
      <div class="box" id="<%= html_id %>" style="display:none;"><%= RedmineMorePreviews::Lib::RmpText.to_utf8(email_fields).html_safe %></div>
    <%- end %>
    
    <% if email_attachments %>
      <div class="box"><%= RedmineMorePreviews::Lib::RmpText.to_utf8(email_attachments).html_safe %></div>
    <%- end %>
    
  <%- end %>
  
<% end %>
